<!-- app/views/pools/show.html.erb -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= @pool.photos? ? cl_image_path(@pool.photos.first.path) : image_path('barcelona_pool.jpg') %>); background-size: cover; background-position: center;">
</div>

<!-- Summary + booking form -->

<div class="container paddind-summary">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="summary">
        <div class="profile-picture text-center">
          <% if @pool.user.avatar? %>
            <%= cl_image_tag @pool.user.avatar.path, class: 'avatar-large' %>
          <% end %>
          <p><%= @pool.user.first_name %></p>
        </div>
        <div class="pool-description">
          <h1><%= @pool.title %></h1>
          <p><%= @pool.location %>&nbsp;&nbsp;&nbsp;<% unless @pool.average_rating.nil? then @pool.average_rating.round.times do %>
            <i class="fa fa-star" style="color: #EEBD2D" aria-hidden="true"></i>
          <% end %>
          <% (5 - @pool.average_rating.round).times do %>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          <% end %>
           <% end %>
          </p>
          <div class="row text-center pool-infos">
            <div class="col-xs-4">
              <p><strong>Dimensions&nbsp;:</strong></p>
              <p>
                <%= @pool.width %> x <%= @pool.length %> x <%= @pool.depth %>m
              </p>
            </div>
            <div class="col-xs-4">
              <p><strong>Shape&nbsp;:</strong></p>
              <p><%= @pool.shape %></p>
            </div>
            <div class="col-xs-4">
              <p><strong>Water type&nbsp;:</strong></p>
              <p><%= @pool.water_type %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= render "bookings/bookingform", pool: @pool %>
    </div>
  </div>
</div>

<!-- Description -->

<div class="description">
  <div class="container">
    <div class="row">
      <div class="col-xs-8">
      <h3><strong>About this pool</strong></h3>
        <p><%= @pool.description %></p>
        <p>
          <strong>Equipments&nbsp;: </strong><%= @pool.equipments %>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Customer reviews -->

<div class="container">
  <h3><%= @pool.nb_booking_comment %> commentaire(s)&nbsp;&nbsp;&nbsp;<% unless @pool.average_rating.nil? then @pool.average_rating.round.times do %>
            <i class="fa fa-star" style="color: #EEBD2D" aria-hidden="true"></i>
          <% end %>
          <% (5 - @pool.average_rating.round).times do %>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          <% end %>
          <% end %>
  </h3>
  <%= render 'bookings/booking_review' %>
</div>

<!-- This JS code transfers the logic behind every Datepicker / Timepicker from Ruby -->

<% content_for(:after_js) do %>
<%= javascript_tag do %>
$(document).ready(function(){
  var agendas = <%= raw @agendas %>;
  var unavailable_slots = <%= raw @unavailable_slots.to_json %>;

  $('#booking_date').datepicker({
    autoclose: true,
    format: 'dd/mm/yyyy',
    startDate: 'd',
    datesDisabled: <%= raw @final %>
  });


  $('#booking_date').on('change', function() {
  $('#customer_error').hide();
  $('#date_error').hide ();
  $('#time_error').hide();
  $('#hours-full-container').show();

  $('.timeslot').removeClass('unavailable').addClass('available');
    if (unavailable_slots[$(this).val()]) {
      unavailable_slots[$(this).val()].forEach(function(a){
        $('#' + a[0].slice(0,2)).removeClass('available').addClass('unavailable');
    });
    }

    $('.available').on('click', function() {
      $('.available').removeClass('selected');
      start_time = String(parseInt(this.id)).length === 2 ? String(parseInt(this.id)) + ':00' : '0' + String(parseInt(this.id)) + ':00';
      end_time = (String(parseInt(this.id) + 2)).length === 2 ? String(parseInt(this.id) + 2) + ':00' : '0' + String(parseInt(this.id) + 2) + ':00';
      $(this).toggleClass('selected');
      $('#booking_start_time').toggle().val(start_time);
      $('#booking_end_time').toggle().val(end_time);
    });

    if ($('.unavailable').length === 6) {
      $('#customer_error').show();
    }
  });

$("#submit_bookings").on('click', function(e) {
  $('#date_error').hide ();
  $('#time_error').hide();
  $('#customer_error').hide();
  e.preventDefault();

  if ($('#booking_date').val() === "") {
    $('#date_error').show();
  }
  else if($('#booking_date').val() !== "" && $('#booking_start_time').val() === "") {
    $('#time_error').show();
  }
  else if($('#booking_date').val() !== "" && $('#booking_start_time').val() !== "") {
   $('#new_booking').submit();
  }
});

  $('.tab').on('click', function() {
    $('.tab').removeClass('active');
    $(this).addClass('active');
  });
  $('#customer').on('click', function() {
    $('#display_customer').addClass('active');
    $('#display_owner').removeClass('active');
  });
  $('#owner').on('click', function() {
    $('#display_customer').removeClass('active');
    $('#display_owner').addClass('active');
  });
});
<% end %>
<% end %>
