<!-- app/views/pools/show.html.erb -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));">
</div>
<div id="summary">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="summary">
          <div class="profile-picture text-center">
            <%= image_tag('avatar.jpg', class: 'avatar-large') %>
            <p><%= @pool.user.first_name %></p>
          </div>
          <div class="pool-description">
            <h1><%= @pool.description %></h1>
            <p><%= @pool.location %></p>
            <div class="row text-center pool-infos">
              <div class="col-xs-3">
                <p><strong>Dimensions :</strong></p>
                <p>
                  <%= @pool.width %> x <%= @pool.length %> x <%= @pool.depth %>m
                </p>
              </div>
              <div class="col-xs-3">
                <p><strong>Shape: </strong></p>
                <p><%= @pool.shape %></p>
              </div>
              <div class="col-xs-3">
                <p><strong>Water type :</strong></p>
                <p><%= @pool.water_type %></p>
              </div>
              <div class="col-xs-3">
                <p><strong>Equipments :</strong></p>
                <p><%= @pool.equipments %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= render "bookings/bookingform", pool: @pool %>
      </div>
    </div>
  </div>
</div>
