<%= simple_form_for @booking do |f|%>

<%= f.input :date, label: 'Book your pool for :', label_html: { class: 'label_form' }, placeholder: "date" %>

<div class="row">
  <div class="col-xs-6">
    <%= f.input :start_time, label: 'Starting at :', label_html: { class: 'label_form' } %>
  </div>
  <div class="col-xs-6">
    <%= f.input :end_time, label: 'Ending at :', label_html: { class: 'label_form' } %>
  </div>
</div>
<div style ="align-left">

<%= f.hidden_field :price, value: @pool.price %>
<%= f.hidden_field :status, value: "created" %>
<%= f.hidden_field :pool_id, value: params[:id] %>
<%= f.button :submit, "Book now!", class: "btn btn-danger" %>
</div>
<% end %>

