<h1>My booking</h1>

<ul>
<li>Dear <%= @booking.user.first_name %>, you booked a pool to <%= @booking.pool.user.first_name %></li>
<li>Price : <%= @booking.price %></li>
<li>Starting : <%= @booking.start_time %></li>
<li>Ending : <%= @booking.end_time %></li>
</ul>
