<div class="booking-owner-line">
  <div class="avatar-owner-line">
    <% if booking.user.avatar? %>
      <%= cl_image_tag booking.user.avatar.path, class: 'avatar-large' %>
    <% end %>
  </div>
  <div class="content-owner-line">
    <p>
      You booked <strong><%= booking.pool.title %></strong> (<%= booking.pool.location %>)
      on <%= booking.date %></strong> - from <%= booking.start_time %> to <%= booking.end_time %>
    </p>
  </div>
  <div class="status-owner-line">
    <% if booking.status == "paid" %>
      <em><p>Payment received !</p></em>
    <% else %>
      <em><p>Currently awaiting your payment !</p></em>
    <% end %>
  </div>
  <div class="action-owner-line">
    <% if booking.status == "paid" %>
    <%= button_to 'Cancel this booking ?', booking_cancel_path(booking), method: :post, class: "btn btn-danger width-btn" %>
    <% else %>
    <%= button_to 'Pay this booking ?', booking_pay_path(booking), method: :post, class: "btn btn-primary width-btn" %>
    <% end %>
  </div>
</div>
