<div class="booking-owner-line">
  <div>
    <% if booking.pool.user.avatar? %>
      <%= cl_image_tag booking.pool.user.avatar.path, class: 'avatar-large' %>
    <% end %>
  </div>
  <div class="content-owner-line text-left">
    <p>
      <strong><%= booking.pool.user.first_name %></strong> booked
      <strong><%= booking.pool.title %></strong> (<%= booking.pool.location %>)
      on <%= booking.date %></strong> - from <%= booking.start_time %> to <%= booking.end_time %>
    </p>
  </div>
  <div class="status-owner-line">
    <em><p>Currently waiting for you !</p></em>
  </div>
  <div class="action-owner-line">
    <%= button_to 'Accept this booking ?', booking_accept_path(booking), method: :post, class: "btn btn-primary" %>
    <br>
    <%= button_to 'Reject this booking ?', booking_reject_path(booking), method: :post, class: "btn btn-danger" %>
  </div>
</div>
