<div class="container-full">
  <div class="tabs">
    <a class="tab active" id="customer" href="#">
      <h3>Your Dives</h3>
    </a>
    <a class="tab" id="owner" href="#">
      <h3>Your pool requests</h3>
    </a>
  </div>
  <div class="container-full" id="grey_container">
    <div class="main-booking active" id='display_customer'>
      <% @customer_bookings.each do |booking| %>
        <div class="bookings-card">
          <div class="container">
            <div class="row">
              <div class="col-xs-4">
                <%= booking.pool.photos? ? cl_image_path(booking.pool.photos.first.path, class: 'photo-pool') : image_tag(image_path('barcelona_pool.jpg'), class: 'photo-pool') %>
                <%= booking.pool.user.avatar? ? cl_image_path(booking.pool.user.avatar.path, class: 'avatar-owner avatar-large') : image_tag(image_path('avatar.jpg'), class: 'avatar-owner avatar-large') %>
              </div>
              <div class="col-xs-4">
                <h3><%= booking.pool.title %></h>
                <p><%= booking.pool.location %></p>
                <p><%= booking.date %> - starts at <%= booking.start_time %> - ends at <%= booking.end_time %></p>
                </%>
              </div>
              <div class="col-xs-4">
                <p><%= booking.get_status_msg %></p>
                <%= button_to 'Cancel this booking ?', booking_cancel_path(booking), method: :post, class: "btn btn-primary" %>
                <%= button_to 'Pay this booking ?', booking_pay_path(booking), method: :post, class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="main-booking" id='display_owner'>
      <div class="content">
      Owner bookings :<br>
      <% @owner_bookings.each do |booking| %>
        Booking ID : <%= booking.id %><br>
        Customer First name : <%= booking.user.first_name %><br>
        Customer Last name : <%= booking.user.last_name %><br>
        Owner First name : <%= booking.pool.user.first_name %><br>
        Owner Last name : <%= booking.pool.user.last_name %><br><br>
        Booking status : <%= booking.status %><br><br>
      <% end %>
      </div>
    </div>
  </div>
</div>







