<div class="container-full grey-container">
  <div class="tabs">
    <a class="tab active" id="customer" href="#">
      <h3>Your Dives</h3>
    </a>
    <a class="tab" id="owner" href="#">
      <h3>Your pool requests</h3>
    </a>
  </div>

<!-- Customer bookings : NEW / CURRENT / PAST -->

  <div class="main-booking bg-grey active" id="display_customer">
    <div class="bg-white container-bookings">
      <div class="new-bookings">
        <strong><h3 style="border-bottom: 1px solid #cacccd;">Your new dives</h3></strong>
        <% @customer_bookings.each do |booking| %>
          <% if booking.status == "created" then %>
            <%= render 'users/bookings_customer_new', booking: booking %>
          <% end %>
        <% end %>
      </div>
      <div class="current-bookings">
        <strong><h3 style="border-bottom: 1px solid #cacccd;">Your current dives</h3></strong>
        <div class="booking-avatar-owner">
          <% @customer_bookings.each do |booking| %>
            <% if (booking.status == "accepted" || booking.status == "paid") then %>
              <%= render 'users/bookings_customer_current', booking: booking %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="past-bookings">
        <strong><h3 style="border-bottom: 1px solid #cacccd;">Your past dives</h3></strong>
        <div class="booking-avatar-owner">
          <% @customer_bookings.each do |booking| %>
            <% if (booking.status != "accepted" && booking.status != "paid" && booking.status != "created") then %>
              <%= render 'users/bookings_customer_past', booking: booking %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<!-- Owner bookings : NEW / CURRENT / PAST -->

  <div class="main-booking bg-grey" id="display_owner">
    <div class="bg-white container-bookings">
      <div class="new-bookings">
        <strong><h3 style="border-bottom: 1px solid #cacccd;">New pool requests</h3></strong>
        <% @owner_bookings.each do |booking| %>
          <% if booking.status == "created" then %>
            <%= render 'users/bookings_owner_new', booking: booking %>
          <% end %>
        <% end %>
      </div>
      <div class="current-bookings">
        <strong><h3 style="border-bottom: 1px solid #cacccd;">Current pool requests</h3></strong>
        <div class="booking-avatar-owner">
          <% @owner_bookings.each do |booking| %>
            <% if (booking.status == "accepted" || booking.status == "paid") then %>
              <%= render 'users/bookings_owner_current', booking: booking %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="past-bookings">
        <strong><h3 style="border-bottom: 1px solid #cacccd;">Closed pool requests</h3></strong>
        <div class="booking-avatar-owner">
          <% @owner_bookings.each do |booking| %>
            <% if (booking.status != "accepted" && booking.status != "paid" && booking.status != "created") then %>
              <%= render 'users/bookings_owner_past', booking: booking %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



<% content_for :after_js do %>
  <%= javascript_tag do %>
  $(document).ready(function(){
    if ( <%= !@show_modale.nil? %> ){
      $('#myModal').modal('show');
    };
  });
  <% end %>
<% end %>



