<% @pools.each do |pool| %>
Pool of <%= pool.user.first_name %> <%= pool.user.last_name %><br>
Dimensions : <%= pool.width %> x <%= pool.length %> x <%= pool.depth %><br>
Latitude : <%= pool.latitude %> - Longitude : <%= pool.longitude %><br>
Price : <%= pool.price %><br>
<% end %>

<button type="button" id="create_pool" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add a Pool</button>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Describe and create your pool !</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@pool) do |f| %>
          <%= f.error_notification %>
          <%= f.input :title %>
          <%= f.input :description %>
          <%= f.input "address", input_html: { id: "user_input_autocomplete_address", placeholder: "Start typing your address..." } %>
          <%= f.input :location, as: :hidden, input_html: { id: "locality" } %>
          <div class="button-inline">
            <%= f.input :width %>
            <%= f.input :length %>
            <%= f.input :depth %>
          </div>
          <div class="button-inline">
            <%= f.input :shape %>
            <%= f.input :water_type %>
            <%= f.input :price %>
          </div>
          <%= f.input :equipments %>
          <%= f.input :photos, as: :attachinary %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.button :submit, class: 'btn btn-success' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

