<!DOCTYPE html>
<html>
  <head>
    <title>Air Pool And Dive</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <p class="notice" style='display:none'><%= notice %></p> <!-- --TODO-- See how to display those classes properly -->
    <p class="alert" style='display:none'><%= alert %></p>
    <%= yield %>

    <%= render 'shared/footer' %>

    <%= javascript_include_tag "https://maps.google.com/maps/api/js?libraries=places&sensor=false&key=#{ENV['GOOGLE_MAPS_BROWSER_KEY']}" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js" %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
    <%= yield(:after_js) %>



  </body>
</html>
